.section_gap {
    padding: 30px 0;
}

.title_w {
    color: black;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0;
    align-items: center;
    display: flex;
    letter-spacing: 0;
    min-width: 1px;
}

.about_content p {
    margin: 0px 0px;
}

.about_content span {
    margin: 0px 0px;
}

.res_menu_left {
    float: left;
    display: inline-block;
}

.res_menu_left i {
    width: 40px;
    height: 40px;
    background: 50% 50% no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 100%;
    position: relative;
    color: transparent;
}

.res_menu_left .res_menu_save {
    background-image: url("../image/dayoung_img/save.png");
}


.res_menu_left .res_menu_share {
    width: 40px;
    height: 40px;
    background: 50% 50% no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 100%;
    position: relative;
    color: transparent;
}





.res_menu_right {
    float: right;
}

.theme_btn_two {
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    line-height: 30px;
    background: rgb(255, 61, 0);
    color: #fff;
    text-transform: uppercase;
    padding: 5px 60px;
}

.book_now_btn {
    width: 100%;
    display: block;
    background: rgb(255, 61, 0);
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 20px;
}


/*restaurant page*/
.col-md-4 {
    text-align: center;
}

body hr.seperator {
    height: 8px;
    background: #ececec!important;
}

body hr.seperator2 {
    height: 1px;
    background: #ececec!important;
}

.navbar {
    background: rgb(255, 61, 0);
    padding: 0px 25px;
}

.navbar .logo_h {
    padding-top: 0px;
}

.hotel_booking_table {
    background: whitesmoke;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 80px 0px;
}

.hotel_booking_table h2 {
    font-size: 30px;
    line-height: 30px;
    color: rgb(255, 61, 0);
    text-transform: uppercase;
}

.hotel_booking_table .booking_table {
	position: relative;
	overflow: visible;
	width: 100%;
	min-height: 130px;
	margin: 0px;
}

.book_tabel_item .input-group {
    margin: 13px 0px;
}

.breadcrumb_area .bg-parallax {
    /*background: url("https://image.toast.com/aaaaaqx/catchtable/shopinfo/s716/716_19112817413723085.jpg") no-repeat scroll center 0 / cover;*/
    opacity: 0.5;
    z-index: -1;
}

.facilities_area .bg-parallax {
    background: #FFFFFF no-repeat scroll center 0 / cover;
    opacity: 1;
}

.res_notice {
    border: 1px solid lightgrey;
    overflow-y: auto;
    height: 175px;
    padding: 20px 30px;
    line-height: 1.66;
}

.res_notice_block {
	float: left;
    position: relative;
    width: 85%;
    box-sizing: border-box;
    text-align: left;
    margin: 3px 0px;
}

.res_notice_icon {
    float: left;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 50%;
    overflow: hidden;
    /*margin-right: 12px; */
}

.res_notice_icon2 {
    float: left;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    /*margin-right: 12px; */
}

.res_notice_icon .img{
    background-image: url("../image/dayoung_img/shop.png");
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;    
}

.res_notice_icon .img2{
	background-image: url("../image/dayoung_img/shop2.jpg");
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;    
}

.res_notice_desc {
    float: left;
    background: #ececec!important;
    border-radius: 4px;
    padding: 15px;
    margin-left: 30px;
    position: relative;
    width: 85%;
    box-sizing: border-box;
    text-align: left;
}

.pt-20 {
    padding-top: 20px!important;
}

.restaurant-features {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -10px;
}

.restaurant-features .feature-item {
    width: 15%;
    flex: 0 1 10%;
    display: block;
    margin: 15px 0;
    text-align: center;
}

.restaurant-features .feature-item .icon {
    width: 60px;
    height: 60px;
    margin: 20px 40px;
    display: block;
}

.restaurant-features .feature-item .label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.__notes-item:first-child {
    margin-top: 50px;
}

.__notes-item:last-child {
    margin-bottom: 50px;
}

.__notes .__notes-item .__toggle {
    display: flex;
    padding: 0 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    color: black;
    /*border-top: 1px solid #f1f1f1;*/
}
/*=========== End facilities_area css =============*/


/*=========== Start restaurant page menu =================*/

menupan {
    display: block;
    border-top: solid 1px rgba(0,0,0,.08);
    border-bottom: solid 1px rgba(0,0,0,.08);
}

.menupan ul li {
    border-bottom: solid 1px rgba(0,0,0,.08);
    height: 54px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menupan ul {
    margin-bottom: 50px;
}
/*=========== End restaurant page menu =================*/


/*=========== Start restaurant page photo =============*/
.container:nth-child(2) .section-header, .mb-25 {
    margin-top: 50px;
}

.section-body {
    margin-bottom: 50px;
}

.photo-grid-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
}

.photo-grid-list .photo-grid-list-item {
    flex: 0 1 25%;
    flex-basis: 25%;
    padding: 1px;
    box-sizing: border-box;
}

.photo-grid-list-item .tb {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}

.photo-grid-list-item .tb .img {
    padding-top: 100%;
    background: 50% 50% no-repeat;
    background-size: cover;
}
/*=========== End restaurant page photo =================*/


/*=========== Start restaurant page recommended reviews =================*/
.review-post-list {
    display: flex;
    flex-wrap: nowrap;
}

.review-post-list .review-post-list-item {
    display: block;
    width: 300px;
    margin-right: 10px;
}

.review-post-list-item {
    width: 300px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.15);
    background-color: #fff;
    overflow: hidden;
}

.review-post-list-item .tb .img {
    background: 50% 50% no-repeat;
    background-size: cover;
    height: 200px;
}
/*=========== End restaurant page recommended reviews =================*/

.about_content {
    padding-right: 0px;
}

.testimonial_area {
    background: white;
}

.blog_right_sidebar
.search_widget
.input-group
.form-control::-moz-placeholder {
    color: #fff;
}

.blog_right_sidebar
.search_widget
.input-group
.form-control::-webkit-input-placeholder {
    color: #fff;
}


/*============== footer-area css ===============*/
.footer-widget1, .footer-widget2, .footer-widget3 {
    margin-right: 80px;
}
.footer-widget2, footer-widget3 {
    margin-left: 50px;
}
.single-footer-widget-left {
    width: 330px
}
.footer-area {
    background: rgb(255, 61, 0);
    padding: 142px 0px;
}

.single-footer-widget ul li a {
    line-height: 25px;
    display: inline-block;
    color: white;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-bottom: 13px;
}

.single-footer-widget {
    color: white;
}
