/*************************** common *******************************/
.section_gap {
	padding: 40px 0;
}

/*************************** index page *******************************/
.banner_area .bg-parallax {
	background: url("../image/index_bg.jpg") no-repeat scroll center 0/cover;
	opacity: 0.50;
}         
.AccomodationImg {
     		width:262px; height:270px;
     	}
.section_title > h2 {
	text-align: left;
}
.section_title > p {
	text-align: left;
}
.row.mb_30 {
	margin-bottom: 60px;
}
.accomodation_area.section_gap {
	padding: 0;			
}
.btn {
	background: rgb(255, 61, 0);
	border-radius: 5px;
}
.col-lg-4.col-md-6 {
	margin-left: 150px;
}
.navbar {
	background: rgb(255, 61, 0);
}
.book_now_btn {
	background: rgb(255, 61, 0); 
	color: white;
	border-radius: 5px;
	margin-top: -23px;
}
.cuisine-list {
	text-align: center;
}
.cuisine-image {
	border-radius: 50%;
}
.col-6 {
	margin: 0 -30px;
}
.map-4 {
	margin-left: 100px;
}
.theme_btn_two {
	background: rgb(255, 61, 0);
	border-radius: 5px;
}
#mc_embed_signup input::placeholder {
	color:white;
}
.footer-widget1, .footer-widget2, .footer-widget3 {
	margin-right: 80px;
}
.footer-widget2, footer-widget3 {
	margin-left: 50px;
}
.single-footer-widget-left {
	width: 330px
}
.sec_h4 {
	line-height: 1.2;
}
.col-md-6 {
	margin-bottom: 30px;
}
/*************************** index page *******************************/



/*************************** admin page *******************************/
.contact_area {
	padding: 0;
}
.div1 {
	height: 500px;
	position: relative;
	top: 0;
	left: 0;
	/* color: white; */
	padding: 0px;
}
ul.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f1f1f1;
  overflow: auto;
}
ul.nav_bar li a {
  font-size: 13pt;
  font-weight: 500;
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
ul.nav_bar li a.active {
  background-color: rgb(255, 61, 0);
  color: white;
  font-weight: 700;
}
ul.nav_bar li a:hover:not(.active) {
  background-color: rgb(255, 61, 0);
  color: white;
}
.container {
	margin: auto;
}
div.nav_bar {
	width: 15%;
	float: left;
} 
div.member, div.shopInformation, div.reservation, div.review, div.notice {
	display: inline-block;
	width: 85%;
	float: right;
}
.navbar {
	background: rgb(255, 61, 0);
}
.footer-widget1, .footer-widget2, .footer-widget3 {
   margin-right: 80px;
}
.footer-widget2, footer-widget3 {
   margin-left: 50px;
}
.single-footer-widget-left {
   width: 330px
}
/*************************** admin page *******************************/



/*************************** admin_member page *******************************/
div#memberList {
	margin-top: 10px;
}
div#memberList table {
	width:80%;
	margin:auto;
	/* display: block; */
}
div#memberList table button {
	border: none;
	border-radius: 5px;
}
div#memberList table button:hover {
	cursor: pointer;
}
div#memberList table, div#memberList th,
div#memberList td {
	border:1px solid #555;
	border-collapse:collapse;
	text-align:center;
	padding: 8px 0;
}
div#memberList th, div#memberList td {
	padding:8px 0;
	color: black;
}
div#memberList tr > td:nth-child(2) a {
	text-decoration:none;
}
div#memberList tr > td:nth-child(2) button:hover {
	text-decoration:underline;
}
div#memberList tr:first-child {
	background:#ddd;
	color:#333;
}
div#memberList tr:last-child td {
	border: 1px solid white;
	padding-bottom:20px;
}
#memberDetail {
	padding-left: 20px;
	font-size: 15pt;
}
.memberDetail, .shopDetail {
	padding: 7px 0;
}
.memberModification button {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}
.memberModification button:hover {
	cursor: pointer;
}
.memberInfo, .shopInfo {
	margin-left: 50px;
}
.memberDetail div, .shopDetail div {
	padding: 7px 0;
}
div.content table, h1 {
	width:70%;
	margin:auto;	
}
.title {
	/* margin-left: 100px; */
	margin-left: 0px;
	color: black;
}
.title.member {
	font-size: 20pt;
	font-weight: 600;
}
/*************************** admin_member page *******************************/



/*************************** admin_memberModify page *******************************/
.memberDetail, .shopDetail {
	list-style-type: none;
}
.memberDetail li, .shopDetail li {
	margin: 7px 0 7px 0;
}
.memberDetail li span, .shopDetail li:not(#facilityCheckBox) span,
#facilityCheckBox span:first-child {
	 display: inline-block;
	 width: 120px; /* ������ �����ϰ� ���� �ʺ� */
	 text-align: right; /* �ؽ�Ʈ ������ ���� */
	 font-size: 15pt;
}
.memberDetail li input, .shopDetail li input:not(#facilityCheckBox), .shopDetail li select {
	height: 30px;
	font-size: 13pt;
}
.shopDetail select {
	width: 218px;
	color: #777777;
}
.memberDetail > li:last-child button,
.shopDetail > li:last-child button {
	margin-left: 370px;
	font-size: 13pt;
	border-radius: 5px;
	border: none;
	padding: 5px 7px;
}
.memberDetail > li:last-child button:hover,
.shopDetail > li:last-child button:hover {
	cursor: pointer;
}
/*************************** admin_memberModify page *******************************/



/*************************** admin_shop_info page *******************************/
#shopDetailModification {
	margin-left: -60px;
	margin-top: -60px;
}
.shopDetail.sub li:first-child span,
.shopDetail li:last-child span {
	position: absolute;
} 
.shopDetail.sub textarea,
.shopDetail li:last-child img {
	margin-left: 123px;
} 
.shopDetail.sub li:nth-child(2) input,
.shopDetail.sub li:nth-child(3) input {
	padding-top: 0px;
}
.shopDetail.sub li:nth-child(4) select {
	padding-top: 0px;
}
.s1 div {
	display: inline-block;
	margin-top: 10px;
}
.s1.button {
	margin-left: 354px;
}
.s1 button {
	font-size: 13pt;
	border-radius: 5px;
	border: none;
	padding: 5px 5px;
}
.s1 button:hover {
	cursor: pointer;
}
/*************************** admin_shop_info page *******************************/



/*************************** admin_notice common *******************************/
div.content table, h1 {
	width:70%;
	margin:auto;	
}
h1 {
	/* padding-left: 35px; */
	padding-left: 0px;
}
/*************************** admin_notice common *******************************/



/*************************** admin_notice_list page *******************************/
section.notice table, section.notice th, section.notice td {
	border:1px solid #777;
	border-collapse:collapse;
	text-align:center;
	font-size:10pt;
	color:#333;
}
section.notice th, section.notice td {
	padding:6px 0;
}
section.notice tr > td:nth-child(2) {
	text-align:left;
	text-indent:20px;
}
section.notice tr > td:nth-child(2) > a {
	text-decoration:none;
}
section.notice tr > td:nth-child(2) > a:hover {
	text-decoration:underline;
}
section.notice tr:last-child td {
	border:1px solid white;
	padding-bottom:40px;
}
section.notice tr:nth-child(2) {
	background:#ddd;
	color:#333;	
}

section.notice table.notice_list tr:first-child td {
	border:1px solid white;	
	border-bottom:1px solid #777;
	text-align:right;
}
section.notice table.notice_list tr:first-child td button {
	margin:0 0 5px 0;
	width:70px;
	padding:7px 0;
	border: none;
	border-radius: 5px;
}
section.notice table.notice_list tr:first-child td button:hover {
	cursor: pointer;
}

/*************************** admin_notice_list page *******************************/



/*************************** admin_notice_content page *******************************/
section.notice_content1 table, section.notice_content1 th, section.notice_content1 td {
	border:1px solid #777;
	border-collapse:collapse;
	text-align:center;
	font-size:10pt;
	color:#333;
}
section.notice_content1 th, section.notice_content1 td {
	padding:6px 0;
}
section.notice_content1 tr > td:nth-child(2) {
	text-align:left;
	text-indent:20px;
}
section.notice_content1 tr > td:nth-child(2) > a {
	text-decoration:none;
}
section.notice_content1 tr > td:nth-child(2) > a:hover {
	text-decoration:underline;
}
section.notice_content1 tr:last-child td {
	border:1px solid white;
	padding-bottom:40px;
}
section.notice_content1 th {
	background: #ddd;
}
section.notice_content1 th {
	background: #ddd;
}
section.notice_content1 table.notice_content2 tr:nth-child(2) td {
	padding-left:20px;
	text-indent:0px;
}
section.notice_content2 tr:nth-child(2) {
	color:#333;	
}
/*************************** admin_notice_content page *******************************/



/*************************** admin_notice_delete page *******************************/
section.notice_delete table, section.notice_delete th, section.notice_delete td {
	border:1px solid #777;
	border-collapse:collapse;
	text-align:center;
	font-size:10pt;
	color:#333;
}
section.notice_delete th, section.notice_delete td {
	padding:6px 0;
}
section.notice_delete tr > td:nth-child(2) {
	text-align:left;
	text-indent:20px;
}
section.notice_delete tr > td:nth-child(2) > a{
	text-decoration:none;
}
section.notice_delete tr > td:nth-child(2) > a:hover{
	text-decoration:underline;
}
section.notice_delete tr:nth-child(2) {
	background:#ddd;
	color:#333;	
}
section.notice_delete tr:last-child td {
	border:1px solid white;
	padding-bottom:40px;
}
section.notice_delete form[name='deleteForm'] table button {
	width:100px;
	margin:40px 5px;
}
section.notice_delete form[name='deleteForm'] table td {
	border:1px solid white;
	background:white;
	font-size:13pt;
	font-weight:700;
}
/*************************** admin_notice_delete page *******************************/
section.notice_update table, section.notice_update th, section.notice_update td {
	border:1px solid #777;
	border-collapse:collapse;
	text-align:center;
	font-size:10pt;
	color:#333;
}
section.notice_update th, section.notice_update td {
	padding:6px 0;
}
section.notice_update tr > td:nth-child(2) {
	text-align:left;
	text-indent:20px;
}
section.notice_update tr > td:nth-child(2) > a{
	text-decoration:none;
}
section.notice_update tr > td:nth-child(2) > a:hover{
	text-decoration:underline;
}
section.notice_update tr:nth-child(2) {
	background:#ddd;
	color:#333;	
}
section.notice_update tr:last-child td {
	border:1px solid white;
	padding-bottom:40px;
}
section.notice_update form[name='adminNoticeModificationForm'] table button {
	width:100px;
	margin:40px 5px;
}
section.notice_update form[name='adminNoticeModificationForm'] table th{
	background:#ddd;
	color:#333;	
	width:140px;
}
section.notice_update form[name='adminNoticeModificationForm'] table td{
	background:white;
}
section.notice_update form[name='adminNoticeModificationForm'] table input,
section.notice_update form[name='adminNoticeModificationForm'] table textarea {
	width:80%;	
	padding:6px 20px;
	border:1px solid #ddd;
	border-radius:4px;
}
section.notice_update form[name='adminNoticeModificationForm'] table {
	width:65%;
}
section.notice_update form[name='adminNoticeModificationForm'] table textarea {
	height:140px;
}
/*************************** admin_notice_update page *******************************/



/*************************** admin_notice_write page *******************************/
section.notice_write table, section.notice_write th, section.notice_write td {
	border:1px solid #777;
	border-collapse:collapse;
	text-align:center;
	font-size:10pt;
	color:#333;
}
section.notice_write th, section.notice_write td {
	padding:6px 0;
}
section.notice_write tr > td:nth-child(2) {
	text-align:left;
	text-indent:20px;
}
section.notice_write tr > td:nth-child(2) > a{
	text-decoration:none;
}
section.notice_write tr > td:nth-child(2) > a:hover{
	text-decoration:underline;
}
section.notice_write tr:nth-child(2) {
	background:#ddd;
	color:#333;	
}
section.notice_write tr:last-child td {
	border:1px solid white;
	padding-bottom:40px;
}
section.notice_write form[name='writeForm'] table button {
	width:100px;
	margin:40px 5px;
}
section.notice_write form[name='writeForm'] table th {
	background:#ddd;
	color:#333;	
	width:140px;
}
section.notice_write form[name='writeForm'] table td {
	background:white;
}
section.notice_write form[name='writeForm'] table input,
section.notice_write form[name='writeForm'] table textarea {
	width:80%;	
	padding:6px 20px;
	border:1px solid #ddd;
	border-radius:4px;
}
section.notice_write form[name='writeForm'] table {
	width:65%;
}
section.notice_write form[name='writeForm'] table textarea {
	height:140px;
}
/*************************** admin_notice_write page *******************************/



/*************************** admin_registeration page *******************************/
/* section#s1, section#s2 { */
section.s1, section.s2 {
	width: 100%;
	float: right;
	padding-top: 0px;
}
section.s2 {
	height: 400px;
}
section.s2 {
	height: 100%;
	overflow: auto;
}
div.h3 {
	text-align: left;
	color: black;
}
div#reserveList, div#reserveDetail,
div#shopInfoDetail {
	border: 1px solid lightgray;
	float: left;
	height: 300px;
	padding: 0 3px;
}
div.shopInfoList {
	border: 1px solid lightgray;
	float: left;
	height: 110px;
	padding: 0 3px;
}
div#reserveList, div.shopInfoList {
	width: 40%;
}
div#reserveDetail, div#shopInfoDetail {
	width: 59%;
}
div#reserveList, div#shopInfoList {
	overflow: auto;
}
div#reserveDetail, div#shopInfoDetail {
	overflow: auto;
}
div.restaurantList {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.input-group.date.reservation {
	margin: 10px 0 0 100px;		
	padding-left: 30px;
	height: 100px;
	flex-direction: column;
	float: right;
	padding-top: 20px;
}
.input-group.date.reservation div {
	display: block;
	height: 20px;
	margin-height: 7px;
	display: flex;
	justify-content: flex-end;
}
.input-group.date.reservation div input {
	width: 100px;
}
#reserveDetail > div div,
#shopInfoDetail> div div {
	justify-content: flex-end;
}
.reserveDetail, .shopInfoDetail {
	float: left;
}
.confirm {
	margin-left: 430px;
}
#reserveDetail hr {
	clear: left;
}
#reserveDetail button,
#shopInfoDetail button {
	border: none;
	border-radius: 5px;
}
#shopInfoDetail button:last-child{
	margin-left: 10px;
}
#reserveDetail button:hover,
#shopInfoDetail button:hover {
	cursor: pointer;
}
.restaurantInfo span {
	font-size: 12pt;
	font-weight: 500;
}
.restaurantInfo span {
	display: block;
	text-align: center;
}
/*************************** admin_registeration page *******************************/



/*************************** admin_review page *******************************/
tr td, button {
	font-size: 14px;
	font-family: Poppins, sans-serif;
	font-weight: 500;
}
.review.s2 table {
	width:30%;
	/* margin-left: 50px; */
	margin-left: 0px;
}
.review.s2 table button {
	border: none;
	border-radius: 5px;
	padding: 0px 5px;
}
.review.s2 table button:hover {
	cursor: pointer;
}
.review.s2 table, .review.s2 th,
.review.s2 td {
	border:1px solid #555;
	border-collapse:collapse;
	text-align:center;
}
.review.s2 th, .review.s2 td {
	padding: 5px 5px;
	color: black;
}
.review.s2 tr:first-child {
	background:#ddd;
	color:#333;
}
.review.s2 tr:last-child td {
	border: 1px solid white;
	padding-bottom:20px;
}
.title {
	color: black;
}
.review.s1 button {
	margin-left: 397px;
}
.review.s2 table {
	width: 100%;
}
#reviewAdmin th:nth-child(1),
#reviewAdmin td:nth-child(1) {
	width: 10px;	
}
#reviewAdmin th:nth-child(2),
#reviewAdmin td:nth-child(2) {
	width: 20px;
}
#reviewAdmin th:nth-child(3),
#reviewAdmin td:nth-child(3) {
	width: 100px;
}
#reviewAdmin th:nth-child(4),
#reviewAdmin td:nth-child(4) {
	width: 200px;
}
#reviewAdmin th:nth-child(5),
#reviewAdmin td:nth-child(5) {
	width: 20px;
}
#reviewAdmin th:nth-child(6),
#reviewAdmin td:nth-child(6) {
	width: 50px;
}
#reviewAdmin th:nth-child(7),
#reviewAdmin td:nth-child(7) {
	width: 50px;
}
#reviewAdmin th:nth-child(8),
#reviewAdmin td:nth-child(8) {
	width: 50px;
}
.memberDetail li:nth-child(6) span {
	position: absolute;
} 
.memberDetail li:nth-child(6) textarea {
	margin-left: 123px;
	width: 219px;
}
.memberDetail li:nth-child(10) span {
	position: absolute;
} 
.memberDetail li:nth-child(10) img {
	margin-left: 123px;
	width: 219px;
}
/*************************** admin_review page *******************************/



/*************************** shop-reservation page *******************************/
.container.div1.shop-reservation {
	margin-top: 100px;
}
/*************************** shop-reservation page *******************************/



/*************************** shop_information page *******************************/
li#facilityCheckBox input {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
#facilityCheckBox button {
	margin-left: 20px;
	font-size: 10pt;
	border-radius: 5px;
	border: none;
	padding: 5px 5px;
}
#facilityCheckBox button:hover {
	cursor: pointer;
}
.shopDetail.sub div {
	display: inline-block;	
}
.shopDetail.sub img {
	width: 100px; 
	height: 100px; 
	/* border: 1px solid lightgray; */ 
}	
.shopDetail.sub div:nth-child(1) {
	margin-left: 123px;
}
.shopDetail.sub div:nth-child(2) {
	margin-left: 300px;
}
.shopDetail.sub div:nth-child(2) {
	margin-left: 477px;
}
.shopDetail.sub div:nth-child(2) {
	margin-left: 654px;
}
.shopDetail.sub div:nth-child(2) {
	margin-left: 831px;
}
.shopDetail.sub img {
	border-radius: 5px;
	box-shadow: 3px 3px 3px 3px #999;
}
/*************************** shop_information page *******************************/



/*************************** shop-information detail facility *******************************/
#shopFacilityDetailUpdate span {
	vertical-align: top;	
}

/*************************** shop-information detail facility *******************************/



/*************************** notice page *******************************/
section.board table.board_list tr:first-child td {
	border:1px solid white;	
	border-bottom:1px solid #777;
	text-align:right;
}
section.board table.board_list tr:first-child td button{
	margin:0 0 5px 0;
	width:70px;
	padding:7px 0;
	border: none;
	border-radius: 5px;
}
section.board table.board_list tr:first-child td button:hover {
	cursor: pointer;
}
section.notice table, section.notice th, section.notice td,
section.board table, section.board th, section.board td {
	border:1px solid #777;
	border-collapse:collapse;
	text-align:center;
	font-size:10pt;
	color:#333;
}
section.notice th, section.notice td,
section.board th, section.board td {
	padding:6px 0;
}
section.notice tr > td:nth-child(2),
section.board tr > td:nth-child(2) {
	text-align:left;
	text-indent:20px;
}
section.notice tr > td:nth-child(2) > a,
section.board tr > td:nth-child(2) > a{
	text-decoration:none;
}
section.notice tr > td:nth-child(2) > a:hover,
section.board tr > td:nth-child(2) > a:hover{
	text-decoration:underline;
}
section.notice tr:first-child:not(.adminList),
section.board:not(.vertical) tr:nth-child(2) {
	background:#ddd;
	color:#333;	
}
section.notice tr:last-child td,
section.board tr:last-child td {
	border:1px solid white;
	padding-bottom:40px;
}
div.content table, h1 {
	width:70%;
	margin:auto;	
}
/*************************** notice page *******************************/



/*************************** notice content page *******************************/
section.board.vertical tr th {
	background:#ddd;
	color:#333;	
}
/*************************** notice content page *******************************/