<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- for clr error -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- log colorSet-->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %cyan(%logger) - %msg%n" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n" />

    <!-- Appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Logger -->
    <logger name="com.springboot.catchmind" level="WARN" appender-ref="FILE" />
    <logger name="jdbc.sqlonly" level="WARN" appender-ref="console-infolog" />
    <logger name="jdbc.resultsettable" level="WARN" appender-ref="console-infolog" />

    <!-- Root Logger -->
    <root level="OFF">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>