<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.catchmind.repository.ReviewMapper">
    <!-- start Dayoung -->
    <select id="getStarAvg" parameterType="String" resultType="int">
        select nvl(trunc(avg(reviewstar), 2), 0) as reviewstar
        from review
        where sid=#{sid}
    </select>

    <select id="getTotalReviewCount" parameterType="String" resultType="int">
        select count(*)
        from review
        where sid=#{sid}
    </select>

    <select id="getTotalReviewPhotoCount" parameterType="String" resultType="int">
        select count(reviewphoto)
        from review
        where sid=#{sid}
    </select>

    <select id="reviewListSelect" parameterType="String" resultType="com.springboot.catchmind.dto.ReviewDto">
        select rno, REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE,
               REVIEWMODIFYDATE, SID, MID, RID, REVIEWPHOTO, REVIEWSPHOTO, mname
        from(select rownum rno, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                    to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                    to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                    SID, review.MID, RID, REVIEWPHOTO, REVIEWSPHOTO, m.mname mname
             from review review, member m
             where sid = #{sid} and review.mid = m.mid
             order by reviewcreatedate desc)
        where rno between 1 and 8
    </select>
    <!-- end Dayoung -->

    <select id="selectList" parameterType="com.springboot.catchmind.dto.PageDto" resultType="com.springboot.catchmind.dto.ReviewDto">
        select rno, mname, SID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, RID
            from(select rownum rno, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                        to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                        to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                        SID, review.MID MID, RID, REVIEWPHOTO, m.mname mname
                 from review review, member m
                 where review.mid = m.mid
                 order by reviewcreatedate desc)
            where rno between #{startCount} and #{endCount}
            order by rno
    </select>

	<update id="updateReviewYN" parameterType="String">
		update reservation set REVIEWYN = 'Y' WHERE REVIEWYN = 'N' AND RID = #{rid}
	</update>
	
    <select id="select" parameterType="String" resultType="com.springboot.catchmind.dto.ReviewDto">
        select RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, REVIEWMODIFYDATE,
               SID, MID, RID, REVIEWPHOTO, mname
        from(select ROWNUM RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                    to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                    to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                    SID, review.MID MID, RID, REVIEWPHOTO, m.mname mname
             from review review, member m
             where review.mid = m.mid and rid=#{rid})
    </select>

    <update id="updateToMain" parameterType="String">
        UPDATE REVIEW SET
            REVIEWMAIN = 'Y'
            WHERE RID=#{rid}
    </update>

	<insert id="writeReview" parameterType="com.springboot.catchmind.dto.ReviewDto">
		insert into REVIEW(REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, REVIEWMODIFYDATE, SID, MID, RID, REVIEWPHOTO, REVIEWSPHOTO, REVIEWMAIN) 
				 VALUES('REVIEW_'||LTRIM(TO_CHAR(SEQU_REVIEW_RID.NEXTVAL,'0000')),
				 #{reviewcontent},
				 #{reviewstar},
                 to_char(SYSDATE, 'yyyy-mm-dd'),
                 to_char(SYSDATE, 'yyyy-mm-dd'),
				 #{sid},
				 #{mid},
				 #{rid},
				 #{reviewphoto, jdbcType=VARCHAR},
				 #{reviewsphoto, jdbcType=VARCHAR},
				 'N')
	</insert>

	<select id="reviewSelect" parameterType="String" resultType="com.springboot.catchmind.dto.ReviewDto">
		SELECT MID, SID, RID, SNAME
			FROM(SELECT M.MID MID, S.SID SID, R.RID RID, S.SNAME SNAME
				FROM MEMBER M, SHOP S, RESERVATION R
				WHERE M.MID = R.MID AND S.SID = R.SID)
			WHERE RID = #{rid}
	</select>

	<select id="list" parameterType="map" resultType="com.springboot.catchmind.dto.ReviewDto">
		select rno, mname, SID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, RID
		    from(select rownum rno, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
		              to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
		              to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
		              SID, review.MID MID, RID, REVIEWPHOTO, m.mname mname
		            from review review, member m
		            where review.mid = m.mid
		            order by reviewcreatedate desc)
		    where rno between #{startCount} and #{endCount}
		    order by rno
	</select>

	<!-- <select id="one" parameterType="map" resultType="com.springboot.catchmind.vo.ReviewVo">
		select RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, REVIEWMODIFYDATE,
		       SID, MID, RID, REVIEWPHOTO, mname
		   from(select ROWNUM RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
		            to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
		            to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
		            SID, review.MID MID, RID, REVIEWPHOTO, m.mname mname
		          from review review, member m
		          where review.mid = m.mid and rid=#{rid})
	</select> -->
	
    <select id="reviewMainList" resultType="com.springboot.catchmind.dto.ReviewDto">
        select RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, REVIEWMODIFYDATE,
               SID, MID, RID, REVIEWPHOTO, REVIEWSPHOTO, mname
        from(select ROWNUM RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                    to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                    to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                    SID, review.MID MID, RID, REVIEWPHOTO, REVIEWSPHOTO, m.mname mname
             from review review, member m
             where review.mid = m.mid and review.reviewmain='Y')
    </select>

    <delete id="deleteFromMain" parameterType="String">
        DELETE FROM REVIEW
        WHERE RID=#{rid}
    </delete>

    <select id="totalRowCount" resultType="int">
        select count(*)
            from review
    </select>

    <select id="selectBy" parameterType="java.lang.String" resultType="com.springboot.catchmind.dto.ReviewDto">
        select
            review.reviewid, review.reviewcontent, review.reviewstar, to_char(review.reviewcreatedate, 'yyyy-mm-dd') reviewcreatedate, to_char(review.reviewmodifydate, 'yyyy-mm-dd') reviewmodifydate,
            review.sid, review.mid, review.rid, review.reviewphoto, review.reviewsphoto,
            s.sname
        from
            review review, shop s
        where
            review.mid = #{mid} and review.sid = s.sid
    </select>
</mapper>
