<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.catchmind.repository.ReviewMapper">
    <select id="selectList" parameterType="com.springboot.catchmind.dto.PageDto" resultType="com.springboot.catchmind.dto.ReviewDto">
        select rno, mname, SID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, RID
            from(select rownum rno, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                        to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                        to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                        SID, review.MID MID, RID, REVIEWPHOTO, m.mname mname
                 from review review, member m
                 where review.mid = m.mid
                 order by reviewcreatedate desc)
            where rno between #{startCount} and #{endCount}
            order by rno
    </select>

    <select id="select" parameterType="String" resultType="com.springboot.catchmind.dto.ReviewDto">
        select RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, REVIEWMODIFYDATE,
               SID, MID, RID, REVIEWPHOTO, mname
        from(select ROWNUM RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                    to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                    to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                    SID, review.MID MID, RID, REVIEWPHOTO, m.mname mname
             from review review, member m
             where review.mid = m.mid and rid=#{rid})
    </select>

    <update id="updateToMain" parameterType="String">
        UPDATE REVIEW SET
            REVIEWMAIN = 'Y'
            WHERE RID=#{rid}
    </update>

    <select id="reviewMainList" resultType="com.springboot.catchmind.dto.ReviewDto">
        select RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR, REVIEWCREATEDATE, REVIEWMODIFYDATE,
               SID, MID, RID, REVIEWPHOTO, REVIEWSPHOTO, mname
        from(select ROWNUM RNO, REVIEWID, REVIEWCONTENT, REVIEWSTAR,
                    to_char(REVIEWCREATEDATE, 'yyyy-mm-dd') REVIEWCREATEDATE,
                    to_char(REVIEWMODIFYDATE, 'yyyy-mm-dd') REVIEWMODIFYDATE,
                    SID, review.MID MID, RID, REVIEWPHOTO, REVIEWSPHOTO, m.mname mname
             from review review, member m
             where review.mid = m.mid and review.reviewmain='Y')
    </select>

    <delete id="deleteFromMain" parameterType="String">
        DELETE FROM REVIEW
        WHERE RID=#{rid}
    </delete>
</mapper>