@media (min-width: 1200px) {
  .container1 {
    max-width: 1170px;
  }
}
/*======================header menu bar==============*/
.navbar {
  background: #FF3D00;
  padding: 0px 25px;
}
.navbar-brand logo_h {
   padding-top: 0px;
  background-image: url(../royal-master/image/catchtable_BI.png);
}

.breadcrumb_area .bg-parallax {
  background-image: url("../royal-master/image/searchrounge.png") no-repeat scroll center 0/cover;
  opacity: 0.50;
  z-index: -1;
}


/*********************search bar************************/
:root{--softsearch-boyut:45px;--softsearch-uzunluk:70vw;}
*{  margin:0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
input::placeholder { /*占쎈쐻占쎈짗占쎌굲占쏙옙*/
            color:#5b5b5b;
            font-size:12px;
        }
.softsearch{
    position: relative;
    top:22px; left:520px; /* 占쎈쐻占쎈뼓占쎈쿈占쎌굲 */
    transform:translate(-50%,-50%);
    background: white;
    height:var(--softsearch-boyut);
    border-radius: var(--softsearch-boyut);
    padding:10px; width:495px; /* 占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲 */
    display:flex; align-items: center;
    box-shadow: 0 0  5px rgba(0,0,0,.7);
}
.softsearch a{
    color:#ff3d10;
    width:var(--softsearch-boyut);
    height:var(--softsearch-boyut);
    background: white;border:none;
    border-radius: 50%;display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: calc(var(--softsearch-boyut) * .6);
}
.softsearch input{
    border:none; background: none;
    outline: none; color:black;
    font-size: 100%; padding:0; margin-left:10px;
    width:0; transition: .3s ease-in;
}


.softsearch:hover > input {
    width:var(--softsearch-uzunluk);
    padding:0 12px;
  }
.softsearch:hover > a {
    background: transparent;
  color:#ff3d10;
}



/*=========== Start about_history_area css =============*/
 .about_history_area section_gap {
 	width:100%;
 	height:100%;
} 

.container1 {
  /* border:1px solid blue; */
	text-align: center;
  padding-left:60px;
  margin:auto;
}
.about_content { /*  占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲筌ｏ옙 占쎈쐻占쎈짗占쎌굲燁삼옙 */
	position:relative;
	right:60px;
	margin-top:60px; /*占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲 占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲*/
} 
.crow>div {
	background:mediumseagreen; height:100px; display:none;
}
#d_p1, #d_p2, #d_p3 {
	/* border:1px solid red; */
	height:300px; display:none;
	position:relative;
	left:10px;
	}
#d_p1, #d_p2, #d_p3>p {
	
	padding-left:200px;
	margin:0px;
	font-size:15px;
	
}
.z1 {
	position:absolute;
}
.rb {
	/* border:1px solid green; */
	overflow-y:scroll;
	scroll-bar:none; width:560px; height:568px;
	position:absolute;
	 box-shadow:0px 0px 10px gray;
	 padding:20px;
	 /* padding-top:20px; */ /*占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲 占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲*/
	 margin-top:75px;	/*占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲 占쎈쐻占쎈짗占쎌굲占쎈쐻占쎈짗占쎌굲*/
	 margin-left:240px;
}
.rb::-webkit-scrollbar {
    display: none; 
}
.rc {
	/* border:1px solid blue; */
	position:absolute;
	margin-left:280px;
}
/*=================================weather===========================*/
.weather {
	/* border:1px solid blue; */
	float:right;
	width:290px;
	height:150px;
	/* background:lightgray; */
	padding-left:25px;
}

/*=====================footer ==================*/
 .footer-widget1, .footer-widget2, .footer-widget3 {
   margin-right: 80px;
}
.footer-widget2, footer-widget3 {
   margin-left: 50px;
}
.single-footer-widget-left {
   width: 330px
} 


	@charset "UTF-8";
/*                     占쎈쉸�맩�몠                     */
.red {
  color: #ff0000;
}

.blue {
  color: #353cdd;
}

/*                 占썩뫀踰��뚳옙 占쎈슔�걠占쎈츩�뜝�룞�삕                   */
.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

/*                      �뜝�럥竊잌뜝�럥諭�                    */
/*                      �뜝�럩�젧�뜝�럩議�                    */
/*             占쎈눀占쎌뒧占쎌읉�뜝�럩逾졾뜝�럡苡� �뜝�럥竊쀥뜝�럩逾ε뜝�럥諭�(include)            */
/* 占쎈／占쎈쐝�뵳怨ㅼ삕占쎈꼨 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, button
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*�뜝�룞�삕 */
button {
  outline: 0;
}

button, a {
  border: 1px solid transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  line-height: 130%;
}

.em-ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

* {
  word-break: keep-all;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  width: 100%;
}
/*========================== �뜝�럥竊잌뜝�럥諭� ====================*/
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  min-height: 100vh;
}

.container {
  width: 100%;
  position: relative;
  padding: 0 15px;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #f9f9f9;
}

.header .top-title {
  font-size: 20px;
  font-weight: 600;
}


/*===========================filter button=====================*/

.list-filter-wrap {
  border: 1px solid #f9f9f9;
}

.list-filter-wrap .date-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  color: #000;
  padding: 20px 0;
}

.list-filter-wrap .date-select i {
  font-size: 18px;
}

.list-filter-wrap .date-select .value {
  font-size: 14px;
  font-weight: 500;
}

.list-filter-wrap .date-select::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  background: url(arrow.svg) no-repeat;
}

.list-filter-wrap .date-box {
  border-bottom: 1px solid #f9f9f9;
}

.list-filter-wrap .filter-box {
  padding: 20px 0;
  border-bottom: 1px solid #f9f9f9;
}

.list-filter-wrap .filter-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.list-filter-wrap .filter-box .filter-button-wrap {
  border-right: 1px solid #dbdbdb;
  padding-right: 20px;
}

.list-filter-wrap .filter-box .filter-button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  color: #000;
  font-size: 22px;
}

.list-filter-wrap .filter-box .filter-button i {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.list-filter-wrap .filter-box .filter-list {
  padding: 0 20px;
}

.list-filter-wrap .filter-box .filter-list .swiper-slide {
  width: auto !important;
}

.list-filter-wrap .filter-box .filter-list .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 14px;
  height: 36px;
  border: 1px solid #d5d5d5;
  border-radius: 18px;
}

.list-filter-wrap .filter-box .filter-list .option .value {
  display: block;
  font-size: 14px;
  color: #000;
}

.contents {
  min-height: 100%;
}

.contents .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 15px;
  position: fixed;
  bottom: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
}

.contents .btn-wrap .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff3d00;
  border-color: #ff3d00;
  color: #fff;
  width: 100%;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 480px;
  width: 100%;
  height: 48px;
  background-color: #fff;
  border-top: 1px solid #f9f9f9;
}

.bottom-nav .nav {
  height: 100%;
}

.bottom-nav .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.bottom-nav .nav .nav-list .menu {
  width: 25%;
}

.bottom-nav .nav .nav-list .menu .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  width: 100%;
  height: 100%;
  color: #000;
}


.top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-wrap .reset-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 25px;
  background-color: #fff;
}

.top-wrap .reset-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(reset.svg) no-repeat;
  width: 19px;
  height: 19px;
  background-size: cover;
}

.top-wrap .reset-btn p {
  font-size: 14px;
  color: #ff3d00;
  font-weight: 500;
}
/*===========================filter================================*/
.filter-select-box { /*�뜝�럥�닡�뜝�럡�댉 �뼨��梨뤄옙逾�*/
  padding:15px 0px;
  box-shadow:0px 0px 10px #eeeeee;
  width:265px;
}

.filter-select-box .box {
  border:1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  width: 100%;
  height:167px;
  position: relative;
  padding: 20px 0px 15px 20px;
}

.filter-select-box .box::after {
	/* border:1px solid orange; */
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  background: url(arrow-right.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.filter-select-box .box .title .name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.filter-select-box .box .title .value {
  font-size: 14px;
  color: #aaa;
  display: block;
}

.filter-select-box .box .icon {
  width: 24px;
  height: 24px;
}

.filter-select-box .box .icon.location {
  background: url(map.svg) no-repeat;
  background-size: cover;
}

.filter-select-box .box .icon.cuisine {
  background: url(food.svg) no-repeat;
  background-size: cover;
}

.filter-select-box .box .icon.price {
  background: url(won.svg) no-repeat;
  background-size: cover;
}

.filter-select-box .box .icon.atmosphere {
  background: url(smile.svg) no-repeat;
  background-size: cover;
}

.filter-select-box .box .icon.amenities {
  background: url(ameni.svg) no-repeat;
  background-size: cover;
}

.filter-select-box .box .icon.seat {
  background: url(chair.svg) no-repeat;
  background-size: cover;
}
/*==============================filter=============================*/
.apply-btn-wrap {
  padding: 20px 15px;
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2%;
          column-gap: 2%;
}

.apply-btn-wrap .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-color: #ddd;
  color: #000;
  width: 25%;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

.apply-btn-wrap .apply-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff3d00;
  border-color: #ff3d00;
  color: #fff;
  width: 73%;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */

/*======================restaurant list============================*/
.saved-restaurant-list .saved-restaurant-list-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative
}

.saved-restaurant-list .saved-restaurant-list-item:after {
    height: 1px;
    background: #f9f9f9;
    left: -30px;
    right: -30px;
    content: "";
    position: absolute;
    bottom: 0
}

.saved-restaurant-list .saved-restaurant-list-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.saved-restaurant-list .saved-restaurant-list-item:last-child:after {
    content: none
}

.saved-restaurant-list.saved-restaurant-list-compact .saved-restaurant-list-item {
    padding-bottom: 0;
    margin-bottom: 24px
}

.saved-restaurant-list.saved-restaurant-list-compact .saved-restaurant-list-item:after {
    display: none
}

.saved-restaurant-list.__no-line .saved-restaurant-list-item {
    padding-bottom: 15px;
    margin-bottom: 15px
}

.saved-restaurant-list.__no-line .saved-restaurant-list-item:after {
    display: none
}

.container.gutter-sm .saved-restaurant-list .saved-restaurant-list-item:after {
    left: -20px;
    right: -20px
}

.saved-restaurant-list-item {
    position: relative
}

.saved-restaurant-list-item .restaurant-info {
    display: flex;
    margin-bottom: 13px;
    position: relative
}

.saved-restaurant-list-item .restaurant-info .tb {
    margin-top: 2px;
    overflow: hidden;
    margin-right: 15px
}

.saved-restaurant-list-item .restaurant-info .tb .img {
    width: 78px;
    height: 104px;
    border-radius: 4px;
    background: 50% 50% no-repeat;
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #f1f1f1
}

.saved-restaurant-list-item .restaurant-info .detail {
    flex: 1;
    min-width: 1px
}

.saved-restaurant-list-item .restaurant-info .detail .__meta {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.02em;
    color: #666;
    margin-bottom: 4px
}

.saved-restaurant-list-item .restaurant-info .detail .detail-header {
    display: flex
}

.saved-restaurant-list-item .restaurant-info .detail .detail-header .txt {
    flex: 1;
    min-width: 1px;
    margin-right: 8px
}

.saved-restaurant-list-item .restaurant-info .detail .excerpt,.saved-restaurant-list-item .restaurant-info .detail .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.saved-restaurant-list-item .restaurant-info .detail .name {
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: 700;
    word-break: break-word;
    line-height: 1.4
}

.saved-restaurant-list-item .restaurant-info .detail .name.__sm {
    font-size: 16px
}

.saved-restaurant-list-item .restaurant-info .detail .excerpt {
    font-size: 11px;
    line-height: 15px;
    color: #000;
    margin-bottom: 8px
}

.saved-restaurant-list-item .restaurant-info .detail .txt2 .name {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500
}

.saved-restaurant-list-item .restaurant-info .detail .txt2 .excerpt {
    -webkit-line-clamp: 1;
    font-size: 12px
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta .tags {
    display: block;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 11px
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta .price {
    display: block;
    color: #aaa;
    font-size: 11px
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta-inline {
    display: flex;
    align-items: baseline
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta-inline .rating {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta-inline .rating .star {
    font-size: 14px;
    font-weight: 700
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta-inline .rating .star:before {
    width: 16px;
    height: 16px
}

.saved-restaurant-list-item .restaurant-info .detail .restaurant-meta-inline .tags {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px
}

.saved-restaurant-list-item .restaurant-info .detail+.btn-delete {
    margin-top: -30px;
    margin-right: -20px;
    margin-bottom: -15px;
    width: 56px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgzMlYzMkgweiIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMzIgMCkiLz4KICAgICAgICA8ZyBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAgMC4wOTNMMTMuMzE3IDEzLjQxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5LjEgOS4xKSIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMC41NzMgMEwxMy44OSAxMy4zMTciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkuMSA5LjEpIG1hdHJpeCgxIDAgMCAtMSAwIDEzLjMxNykiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=) 50% 30px no-repeat;
    background-size: 20px auto;
    text-indent: -999em;
    overflow: hidden
}

.saved-restaurant-list-item .restaurant-info .__sm .name {
    font-size: 16px;
    line-height: 20px
}

.saved-restaurant-list-item .restaurant-info .__sm .excerpt {
    font-size: 10px;
    margin-bottom: 5px
}

.saved-restaurant-list-item .restaurant-info .__sm .restaurant-meta .rating {
    margin-bottom: 6px
}

.saved-restaurant-list-item .restaurant-info .__sm .restaurant-meta .rating .star {
    font-size: 14px
}

.saved-restaurant-list-item .restaurant-info .btn-bookmark {
    margin-top: 5px;
    margin-left: 5px
}

.saved-restaurant-list-item .restaurant-info .btn-del {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgzMlYzMkgweiIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMzIgMCkiLz4KICAgICAgICA8ZyBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAgMC4wOTNMMTMuMzE3IDEzLjQxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5LjEgOS4xKSIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMC41NzMgMEwxMy44OSAxMy4zMTciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkuMSA5LjEpIG1hdHJpeCgxIDAgMCAtMSAwIDEzLjMxNykiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=) 50% 50% no-repeat;
    background-size: 16px auto;
    text-indent: -999em;
    overflow: hidden;
    width: 14px;
    height: 14px
}

.saved-restaurant-list-item .comment {
    display: block;
    border-radius: 6px;
    background-color: #f9f9f9;
    padding: 15px 20px
}

.saved-restaurant-list-item .comment p {
    line-height: 20px
}

.saved-restaurant-list-item .__reserv-schedule {
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -20px;
    background: #f9f9f9;
    padding: 20px
}

.saved-restaurant-list-item .__reserv-schedule .__item>dl dt {
    font-size: 14px
}

.saved-restaurant-list-item .__reserv-schedule .__more {
    border-top: 1px solid #f4f4f4;
    margin: -20px;
    padding: 20px;
    padding-left: 42px!important
}

.saved-restaurant-list-item .timetable-list {
    margin-top: -10px;
    overflow: auto;
    margin-right: -20px;
    padding-right: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.saved-restaurant-list-item .timetable-list::-webkit-scrollbar {
    display: none
}

.saved-restaurant-list-item .keyword {
    margin-top: 13px
}

.saved-restaurant-list-item .keyword span {
    display: inline-block;
    border-radius: 20px;
    background-color: #f4f4f4;
    font-size: 14px;
    padding: 6px 14px
}

.saved-restaurant-list-item .form-checkbox {
    position: absolute;
    left: 0;
    top: 52px;
    transform: translateY(-50%)
}

.saved-restaurant-list-item .form-checkbox~.comment,.saved-restaurant-list-item .form-checkbox~.restaurant-info {
    margin-left: 40px
}

.saved-restaurant-list-item--v2 .restaurant-info {
    align-items: center
}

.saved-restaurant-list-item--v2 .restaurant-info .tb {
    margin-top: 0;
    margin-right: 10px
}

.saved-restaurant-list-item--v2 .restaurant-info .tb .img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #f1f1f1
}

.saved-restaurant-list-item--v2 .restaurant-info .detail .excerpt,.saved-restaurant-list-item--v2 .restaurant-info .detail .name {
    -webkit-line-clamp: 1
}

.saved-restaurant-list-item--v2 .restaurant-info .detail .name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}

.saved-restaurant-list-item--v2 .restaurant-info .detail .excerpt {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-bottom: 8px
}

.saved-restaurant-list-item--v2 .restaurant-info .btn-bookmark {
    margin-top: 0;
    margin-left: 0
}

.timetable-list {
    display: flex;
    flex-wrap: nowrap
}

.timetable-list .timetable-list-item {
    flex: 0 0 auto;
    margin-right: 6px
}

.timetable-list .timetable-list-item:last-child {
    margin-right: 0!important
}

.timetable-list .notable {
    font-size: 11px;
    font-weight: 500;
    color: #aaa;
    background: #f1f1f1;
    border-radius: 4px;
    text-align: center;
    line-height: 1.4;
    padding: 10px;
    flex: 1
}

.timetable-list-item {
    border-radius: 6px;
    border: solid 1px #ff3d00;
    overflow: hidden;
    width: 76px;
    text-align: center;
    font-weight: 500
}

.timetable-list-item .time {
    font-size: 16px;
    color: #fff;
    background: #ff3d00;
    padding: 12px 0 11px;
    display: flex;
    justify-content: center;
    align-items: center
}

.timetable-list-item .event {
    font-size: 13px;
    color: #ff3d00;
    padding: 8px 0;
    display: block
}

.timetable-list-item.disabled {
    border-color: #f1f1f1;
    color: #aaa
}

.timetable-list-item.disabled .time {
    background-color: #f1f1f1;
    color: #aaa
}

.timetable-list-item.disabled .event {
    color: #aaa
}

.timetable-list-item.confirmed {
    border-color: #ffb098;
    color: #ff3d00
}

.timetable-list-item.confirmed .time {
    background-color: #ffd8cc;
    color: #ff3d00
}

.timetable-list-item.confirmed .event {
    border-top: 1px solid #ffb098;
    color: #ff3d00
}

.timetable-list-sm .timetable-list-item {
    flex: 1;
    margin-right: 5px;
    width: auto;
    min-width: 72px
}

.timetable-list-sm .timetable-list-item:last-child {
    margin-right: 0
}

.timetable-list-sm .timetable-list-item .time {
    font-size: 13px;
    height: 36px;
    display: flex;
    flex-align: center;
    box-sizing: border-box
}

.timetable-list-sm .timetable-list-item .event {
    font-size: 11px;
    font-weight: 500;
    padding: 5px
}

.timetable-list-sm .timetable-list-item.empty {
    background: #fff;
    border-color: #d5d5d5;
    width: auto;
    min-width: 160px
}

.timetable-list-sm .timetable-list-item.empty .time {
    background: #fff;
    color: #000;
    white-space: nowrap
}

.timetable-list-sm .timetable-list-item.empty .time:before {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik01IDEyQzUuNjg3NSAxMiA2LjI1IDExLjQ0NjIgNi4yNSAxMC43NjkySDMuNzVDMy43NSAxMS4wOTU3IDMuODgxNyAxMS40MDg3IDQuMTE2MTIgMTEuNjM5NUM0LjM1MDU0IDExLjg3MDMgNC42Njg0OCAxMiA1IDEyWk04Ljc1IDguMzA3NjlWNS4yMzA3N0M4Ljc1IDMuMzQxNTQgNy43MjUgMS43NiA1LjkzNzUgMS4zNDE1NFYwLjkyMzA3N0M1LjkzNzUgMC40MTIzMDggNS41MTg3NSAwIDUgMEM0LjQ4MTI1IDAgNC4wNjI1IDAuNDEyMzA4IDQuMDYyNSAwLjkyMzA3N1YxLjM0MTU0QzIuMjY4NzUgMS43NiAxLjI1IDMuMzM1MzggMS4yNSA1LjIzMDc3VjguMzA3NjlMMCA5LjUzODQ2VjEwLjE1MzhIMTBWOS41Mzg0Nkw4Ljc1IDguMzA3NjlaIiBmaWxsPSIjNjY2NjY2Ii8+Cjwvc3ZnPgo=) 50% 50% no-repeat;
    width: 10px;
    height: 12px;
    display: block;
    content: "";
    margin-right: 5px
}

.timetable-list-sm .timetable-list-item.full-width {
    flex: 1;
    width: 100%
}
.bookmark {
    display: flex;
    align-items: center
}

.bookmark .count {
    font-size: 11px;
    color: #999;
    margin-right: 10px;
    font-weight: 500
}

.btn-bookmark {
    display: block;
    width: 30px;
    min-width: 30px;
    height: 30px;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxjaXJjbGUgY3g9IjE1IiBjeT0iMTUiIHI9IjE1IiBmaWxsPSIjRDlEOUQ5Ii8+CiAgICA8cGF0aCBkPSJNMTUuNzgxNyAxOC44MzY5TDE1LjUyMjIgMTguNjZMMTUuMjUwMSAxOC44MTY5TDkuNSAyMi4xMzQzVjEwQzkuNSA5LjE3MTU3IDEwLjE3MTYgOC41IDExIDguNUgxOUMxOS44Mjg0IDguNSAyMC41IDkuMTcxNTcgMjAuNSAxMFYyMi4wNTM5TDE1Ljc4MTcgMTguODM2OVoiIHN0cm9rZT0id2hpdGUiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
    border-radius: 50%;
    text-indent: -999em;
    overflow: hidden
}

.btn-bookmark.active {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxjaXJjbGUgY3g9IjE1IiBjeT0iMTUiIHI9IjE0LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiNENUQ1RDUiLz4KICAgIDxwYXRoIGQ9Ik0xOSA4SDExQzkuODk1NDMgOCA5IDguODk1NDMgOSAxMFYyM0wxNS41IDE5LjI1TDIxIDIzVjEwQzIxIDguODk1NDMgMjAuMTA0NiA4IDE5IDhaIiBmaWxsPSIjRkYzRDAwIi8+Cjwvc3ZnPgo=)
}

.btn-bookmark.__alarm {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    border-radius: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxsaW5lIHgxPSIxLjU0OTk5IiB5MT0iMTIuNTgzMyIgeDI9IjE1LjI1IiB5Mj0iMTIuNTgzMyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogICAgPHBhdGggZD0iTTMuMTQ5OTYgNi4yMDUxNEMzLjE0OTk2IDMuMzA1NjQgNS41MDA0NyAwLjk1NTEzOSA4LjM5OTk2IDAuOTU1MTM5QzExLjI5OTUgMC45NTUxMzkgMTMuNjUgMy4zMDU2NCAxMy42NSA2LjIwNTE0VjEyLjU4MzNIMy4xNDk5NlY2LjIwNTE0WiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KICAgIDxwYXRoIGQ9Ik0xMS4yOTg3IDEyLjc1MjZDMTEuMDMzNSAxNC40MDI1IDkuNzc3NDQgMTUuNTU1MiA4LjM5OTk5IDE1LjU1NTJDNy4wMjI1NCAxNS41NTUyIDUuNzY2NDUgMTQuNDAyNSA1LjUwMTI5IDEyLjc1MjZIMTEuMjk4N1oiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS4zIi8+Cjwvc3ZnPgo=)
}

.btn-bookmark.__alarm.active {
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxsaW5lIHgxPSIxLjU0OTk5IiB5MT0iMTIuNTgzMyIgeDI9IjE1LjI1IiB5Mj0iMTIuNTgzMyIgc3Ryb2tlPSIjRkYzRDAwIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAgICA8cGF0aCBkPSJNMi4zOTk5NiA2LjIwNTEyQzIuMzk5OTYgMi44OTE0MiA1LjA4NjI2IDAuMjA1MTI0IDguMzk5OTYgMC4yMDUxMjRDMTEuNzEzNyAwLjIwNTEyNCAxNC40IDIuODkxNDIgMTQuNCA2LjIwNTEyVjEzLjMzMzNIMi4zOTk5NlY2LjIwNTEyWiIgZmlsbD0iI0ZGM0QwMCIvPgogICAgPHBhdGggZD0iTTguMzk5OTkgMTYuMjA1MUMxMC4zODgyIDE2LjIwNTEgMTIgMTQuMzY4NCAxMiAxMi4xMDI2SDQuNzk5OTlDNC43OTk5OSAxNC4zNjg0IDYuNDExNzYgMTYuMjA1MSA4LjM5OTk5IDE2LjIwNTFaIiBmaWxsPSIjRkYzRDAwIi8+Cjwvc3ZnPgo=)
}