<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="mapper.admin">
	<update id="confirmUpdate" parameterType="java.lang.String">
		UPDATE SHOP SET
				ACONFIRMFINALYN='Y'
			WHERE SID=#{sid}
	</update>
	
	<update id="CancelUpdate" parameterType="java.lang.String">
		UPDATE SHOP SET
				SCONFIRMYN='N'
			WHERE SID=#{sid}
	</update>
</mapper>